.board-body {
    border-collapse: separate;
    font-size: 1.4rem;
}

.list-obj {
    padding: 5px;
    width: 250px;
    background-color: #dfe3e6;
    border-radius: 5px;
}

.list-obj.list-new {
    background-color: rgb(61, 129, 35);
    color: #fff;
    margin: 5px;

}

.new-list-btn {
    border: 0;
    margin: 0;
    width: 100%;
    background-color: transparent;
    text-align: left;
    color: #ddd;
    outline: none;
}

.list-new.create-list {
    background-color: #dfe3e6;
}

.list-new.create-list .new-list-btn {
    display: none;
}

.list-new.create-list .create-list-div {
    display: block;
    cursor: pointer;
}

.create-new-tf {
    color: #000;
    width: 230px;
    padding: 5px;
    margin: 5px;
    border: 1px solid rgb(61, 129, 35);
    border-radius:4px; 
    outline: none;
}

.create-list-div {
    display: none;
}
.create-btn-div{
    margin: 5px;
}

.create-btn {
    height: auto;
    outline: none;
    padding: 5px;
    border: 0;
    border-radius: 2px;
    background-color: rgb(61, 129, 35);
}
.cancel-btn{
    
    background-color: transparent;
    height: 25px;
    margin: 5px;
    padding: 5px;
}