.list-delete-div {
    display: none;
    float: right;
    top: 0;
    padding: 5px;
    padding-left:8px;
    padding-right: 8px;
    border-radius: 4px;      
}
.list-delete-div:hover {
    background-color: #c8d2d2;
}

.list-obj:hover .list-delete-div {
    opacity: 1;
    display: block;
}

.list-head {
    margin: 5px 5px 10px 5px;
    font-weight: bold;
    padding-left: 1px;
}

.card {
    background-color: white;
    margin: 5px;
    padding: 3px;
    border-radius: 3px;
    font-size: 13px;
    cursor: pointer;
}
.card.hidden {
    display: none;
}

.new-card {
    padding: 5px;
    border-radius:4px; 
}
.card-content{
    padding: 5px
}

.new-card-btn {
    cursor: pointer;
    opacity: .7;
    padding-left: 3px;
    margin:5px;
}
.new-card:hover{
    background-color: #ccc
}

.new-card.active:hover{
    background-color: #dfe3e6
}

.new-card .add-card {
    display: block;
    cursor: pointer;
}

.add-card-ta {
    padding: 8px;
    resize: none;
    width: 100%;
    border: none;
    border-radius: 3px;
    outline: none;
}

.add-card-btn {
    padding: 5px 10px;
    color: #fff;
    border: none;
    font-weight: 700;
    background-color: rgb(81, 151, 56);
    border-radius: 5px;
}

#add-card-cancel {
    background-color: transparent;
    margin: 5px;
    padding: 7px;
    height: 30px;
}
#add-card-cancel:hover{
    background-color: #c2c2b8
}

.delete-btn {
    height: 13px;
    width: 13px;
}

.card:hover .card-delete-div {
    opacity: .7;
    display: block;
}
.card-delete-div:hover{
    background-color: #d8e2e2
}

.card-delete-div {
    display: none;
    float: right;
    top: 0;
    padding: 5px;
    padding-left:8px;
    padding-right: 8px; 
    border-radius:4px 
}
